.profile {
  max-width: 880px;
  margin: 40px auto 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 910px) {
  .profile {
    margin: 40px 60px 50px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    margin: 42px auto 36px;
    flex-direction: column;
  }
}
