.profile__text {
  max-width: 336px;
  margin-right: auto;
  /* padding: 0 250px 0 30px; */
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1023px) {
  .profile__text {
    max-width: 260px;
    margin-right: auto;
    /* padding: 0px 85px 0 30px; */
  }
}

@media screen and (max-width: 767px) {
  .profile__text {
    margin-right: 0;
    padding: 26px 0 36px;
    align-items: center;
  }
}
