.popup__input-text {
  width: 358px;
  padding-bottom: 10px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input-text:first-of-type {
  margin-bottom: 30px;
}

.popup__input-text:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .popup__input-text {
    width: 238px;
  }
}
