.profile__info-subtitle {
  margin: 0;
  padding-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .profile__info-subtitle {
    padding-top: 14px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 767px) {
  .profile__info-subtitle {
    max-width: 282px;
    /* padding-top: 14px;
    font-size: 14px;
    line-height: 17px; */
    text-align: center;
  }
}
